body {
    color: red;
    background: black;
}

h1 {
    font-size: 48px;
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a {
    color: greenyellow;
}

ol {
    color: red;
    font-size: 16px;
}

ul {
    color: red;
    font-size: 16px;
}
