h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

body {
    background: #21241c
}

#viking {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

a {
    color: #73F71F;
    display: block;
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: white;
    font-size: 16px;
}