h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

body {
    background: #21241c
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

a {
    color: #73F71F;
}

ul {
    display: table;
    margin: 0 auto;
}

ol {
    color: white;
    display: table;
    margin-left: 600px;
    margin-right: 600px
}

.ingredients {
    color: white;
    position: relative;
    
}

p {
    color: white;
    font-size: 16px;
    margin-left: 375px;
    margin-right: 375px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 24px;
    margin-left: 375px;
    margin-right: 375px;
    text-align: center;
}

h3{
    color: white;
    font-size: 20px;
    margin-left: 375px;
    margin-right: 375px;
    text-align: center;
}